<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="FuwariStudio"
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="FuwariStudio"
    UpgradeCode="{F6F87401-0C6B-47B4-9E8D-1D42476C3E7E}">

    <Package
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perMachine"
      Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of FuwariStudio is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon" SourceFile="$(var.ProjectDir)windows\runner\resources\app_icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="FuwariStudio" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="AppProgramsFolder" Name="FuwariStudio" />
      </Directory>
      <Directory Id="DesktopFolder" />
    </Directory>

    <DirectoryRef Id="AppProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{C7B8B7D3-A0E2-4F0E-93DA-9F5D9C6B0C3C}">
        <Shortcut
          Id="StartMenuShortcut"
          Name="FuwariStudio"
          Description="FuwariStudio"
          Target="[INSTALLFOLDER]FuwariStudio.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveAppProgramsFolder" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\FuwariStudio"
          Name="installed"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="{1D9D4D9E-54D9-4E0A-86A8-70E52274D26F}">
        <Shortcut
          Id="DesktopShortcut"
          Name="FuwariStudio"
          Description="FuwariStudio"
          Target="[INSTALLFOLDER]FuwariStudio.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue
          Root="HKCU"
          Key="Software\FuwariStudio"
          Name="desktop_shortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="FuwariStudio" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>

    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>
</Wix>
